@mixin card-bar-element ($dir) {
    display: inline-block;
    position: absolute;
    top: $cardPaddingHorizontal * 0.5;
    #{$dir}: $cardPaddingVertical;
}

@mixin card-bar ($pos) {
    position: absolute;
    left: 0;
    width: $fullCardWidth;
    height: $fullCardHeight * 0.1;
    color: white;
    #{$pos}: 0;
    @if $pos == 'bottom' {
        transform: rotate(180deg);
    }

    .canasta-bar-name {
        @include card-bar-element('right');
    }
    .canasta-bar-symbol {
        @include card-bar-element('left');
    }
}

@mixin rank ($dir, $background) {
    position: absolute;
    top: $fullCardHeight * 0.1;
    width: $fullCardWidth * 0.5;
    height: $fullCardHeight * 0.8;
    font-size: $fullCardHeight;
    #{$dir}: 0;
    background: $background;
}

@mixin card-symbol ($dir) {
    position: relative;
    display: inline-block;
    max-width: $fullCardWidth * 0.5;
    max-height: $fullCardHeight * 0.8;
    bottom: $cardHeight * 0.125;

    $dirValue: $cardHeight * (-0.1);

    @if $dir == 'left' {
        left: $dirValue;
    }
    @if $dir == 'right' {
        right: $dirValue;
    }
};

@mixin suit-color($suitName, $color) {
    &.canasta-#{$suitName} {
        .canasta-top-bar {
            color: $color;
        }

        .canasta-bottom-bar {
            background: $color;
        }

        .canasta-rank-left,
        .canasta-rank-right {
            color: $color;
        }
    }
}

.canasta-card {
    width: $cardWidth;
    height: $cardHeight;
    margin: $cardWidth * 0.05 $cardHeight * 0.05;
    padding: $cardWidth * 0.05 $cardHeight * 0.05;
    font-size: $cardHeight * 0.05;
    border-radius: ($cardWidth + $cardHeight) * 0.02;
    display: inline-block;
    background: white;
    overflow: hidden;
    position: relative;

    .canasta-top-bar {
        @include card-bar(top);
    }

    @include suit-color(diamonds, red);
    @include suit-color(hearts, red);
    @include suit-color(clubs, black);
    @include suit-color(spades, black);

    .canasta-bottom-bar {
        @include card-bar(bottom);
    }

    .canasta-rank-left {
        @include rank(left, green);

        .canasta-left-symbol {
            @include card-symbol(left);
        }
    }

    .canasta-rank-right {
        @include rank(right, blue);

        .canasta-right-symbol {
            @include card-symbol(right);
        }
    }

    &.canasta-ten .canasta-right-symbol {
        letter-spacing: $cardHeight * -0.075;
        right: $cardHeight * 0.0125;
    }

    &.canasta-jack .canasta-left-symbol {
        left: $cardHeight * 0.01;
    }
}
