@mixin diamonds($elementSelector, $size, $color) {
    #{$elementSelector} {
        display: inline-block;
        position: absolute;
        width: $size;
        height: $size;
        .canasta-rank-element-1 {
            $symbolSize: $size / 1.414 * 0.875;
            position: absolute;
            transform: rotate(45deg);
            left: $size * 0.195;
            top: $size * 0.255;
            width: $symbolSize;
            height: $symbolSize;
            background: $color;
        }
    }
}
