$cardHeight: 400px;
$cardWidth: $cardHeight * 0.75;
$cardMarginHorizontal: $cardWidth * 0.05;
$cardMarginVertical: $cardHeight * 0.05;
$cardPaddingHorizontal: $cardWidth * 0.05;
$cardPaddingVertical: $cardHeight * 0.05;
$fullCardWidth: $cardWidth + (2 * $cardPaddingVertical);
$fullCardHeight: $cardHeight + (2 * $cardPaddingHorizontal);

@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import "diamonds";
@import "hearts";
@import "spades";
@import "clubs";
@import "card";

body {
    font-family: 'Pathway Gothic One', sans-serif;
    background: #333;
}
