@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

body {
    background: #333;
}

$letter-font-family: 'Pathway Gothic One', sans-serif;
$letter-font-size: 70px;
$letter-position: relative;

@import 'card';
@import 'ace';
@import 'two';
@import 'three';
@import 'four';
@import 'five';
@import 'six';
@import 'seven';
@import 'eight';
@import 'nine';
@import 'ten';
@import 'queen';
@import 'jack';
@import 'king';
