.canasta-ten {
    .canasta-rank-left {
        position: relative;
        right: 0px;

        .canasta-rank-element-one {
            top: 20px;
            left: 5px;
        }

        .canasta-rank-element-two {
            top: 20px;
            left: 12px;
        }

        .canasta-rank-element-three {
            top: 27px;
            left: 5px;
        }

        .canasta-rank-element-four {
            top: 27px;
            left: 12px;
        }

        .canasta-rank-element-five {
            top: 34px;
            left: 5px;
        }

        .canasta-rank-element-six {
            top: 34px;
            left: 12px;
        }

        .canasta-rank-element-seven {
            top: 41px;
            left: 5px;
        }

        .canasta-rank-element-eight {
            top: 41px;
            left: 12px;
        }

        .canasta-rank-element-nine {
            top: 48px;
            left: 5px;
        }

        .canasta-rank-element-ten {
            top: 48px;
            left: 12px;
        }
    }
}

.canasta-ten.canasta-diamonds {
    .canasta-rank-left {
        .canasta-rank-element-one,
        .canasta-rank-element-two,
        .canasta-rank-element-three,
        .canasta-rank-element-four,
        .canasta-rank-element-five,
        .canasta-rank-element-six,
        .canasta-rank-element-seven,
        .canasta-rank-element-eight,
        .canasta-rank-element-nine,
        .canasta-rank-element-ten
        {
            content: "";
            position: absolute;
            display: inline-block;
            background: red;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
        }

    }
}

.canasta-ten.canasta-hearts {
    .canasta-rank-element-one,
    .canasta-rank-element-two,
    .canasta-rank-element-three,
    .canasta-rank-element-four,
    .canasta-rank-element-five,
    .canasta-rank-element-six,
    .canasta-rank-element-seven,
    .canasta-rank-element-eight,
    .canasta-rank-element-nine,
    .canasta-rank-element-ten
    {
        position: relative;
        span.one, span.two {
            position: absolute;
            content: "";
            left: 2.5px;
            top: 1px;
            width: 4px;
            height: 6px;
            background: red;
            -moz-border-radius: 50px 50px 0 0;
            border-radius: 50px 50px 0 0;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }

        span.two {
            left: -1.5px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }
}

.canasta-ten.canasta-spades {
    .canasta-rank-element-one,
    .canasta-rank-element-two,
    .canasta-rank-element-three,
    .canasta-rank-element-four,
    .canasta-rank-element-five,
    .canasta-rank-element-six,
    .canasta-rank-element-seven,
    .canasta-rank-element-eight,
    .canasta-rank-element-nine,
    .canasta-rank-element-ten
    {
        position: relative;
        span.one, span.two {
            position: absolute;
            content: "";
            left: 2.5px;
            top: -5px;
            width: 4px;
            height: 6px;
            background: black;
            -moz-border-radius: 50px 50px 0 0;
            border-radius: 50px 50px 0 0;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }

        span.two {
            left: -1.5px;
            -webkit-transform: rotate(225deg);
            -moz-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            -o-transform: rotate(225deg);
            transform: rotate(225deg);
            -webkit-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }
}

.canasta-ten.canasta-clubs {
    .canasta-rank-element-one,
    .canasta-rank-element-two,
    .canasta-rank-element-three,
    .canasta-rank-element-four,
    .canasta-rank-element-five,
    .canasta-rank-element-six,
    .canasta-rank-element-seven,
    .canasta-rank-element-eight,
    .canasta-rank-element-nine,
    .canasta-rank-element-ten
    {
        position: relative;

        span.one,
        span.two,
        span.three {
            position: absolute;
            content: "";
            width: 3.5px;
            height: 3.5px;
            border-radius: 10px;
            background: black;
        }

        span.one {
            top: 1px;
            left: -1px;
        }
        span.two {
            top: -1px;
            left: 0.5px;
        }
        span.three {
            top: 1px;
            left: 2px;
        }
    }
}
